*{
  margin: 0;
  padding: 0;
outline: 0;
border:0;
}
#fullweb { 
 background-image: url(../image/pexels-rovenimagescom-949587.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 margin: auto;

}
#div1  {
   text-align: center;
 background-color: rgba(0, 0, 0, 0.212);
 padding: 25px;
 margin: auto;
 height: 500px;
 width: 500px;
border-radius: 25px;
margin-top: 150px;
}
h1 { 
  font-size:35px ;
  color:rgb(255, 255, 255);
  background-color: rgba(255, 0, 0, 0.473);
  border-radius: 20px;
  margin-top:30px ;
  margin-bottom: 30px;
}
.p1 {
  background-color: rgb(196, 150, 93);
  border-radius: 25px;
  margin-top: 25px;
}
.p2 {
  background-color: antiquewhite;
  border-radius: 25px;
}
input[type="submit"] {
  background-color: rgb(255, 0, 0);
  margin-top:20px; 
  width: 90%;
  height: 30px;
   border-radius: 50px;
   color: white;
}
 
input[type="text"] {
  background-color: rgb(255, 247, 236);
  color: rgb(0, 0, 0);
  width:100%;
  border-radius:50px;
  border-color: black;
}
input[type="password"] {
  background-color: rgb(245, 239, 239);
  color: rgb(0, 0, 0);
  width:100%;
  border-color: rgb(0, 0, 0);
  border-radius: 15px;
}
input[type="Number"] {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  width: 100%;
  border-radius: 50px;
}
input [type="password"] {
  color:black;
}

#div1 input[type="submit"]:hover{
  cursor: pointer;
  background-color: transparent;
  color: rgb(255, 0, 0);
}


